<app-content>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">จัดเก็บ ข้อมูล KPI Score</h3>  
                <p>ช่วงเวลาจัดเก็บ </p>    
                
                <div class="tile-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>                                                   
                                <th>ชื่อตัวชี้วัด</th>                                
                                <th>เป้าหมาย</th>
                                <th>คะแนน</th>
                                <th><i class="fa fa-clock-o"></i> เวลาจัดเก็บ</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</app-content>