<app-content>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">                
                <div class="tile-title-w-btn">
                    <h3 class="title">จัดเก็บ KPI Score</h3>
                    <div class="btn-group" dropdown>
                        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                aria-controls="dropdown-animated">
                          {{year_id}} <span class="caret"></span>
                        </button>
                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                            <li role="menuitem" *ngFor="let item of year">
                              <a class="dropdown-item" (click)="kpiSearchYear(item)">{{item.year_id+543}}</a>
                            </li>   
                        </ul>
                    </div>
                </div>            
                <div class="tile-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>                                                   
                                <th>ชื่อตัวชี้วัด</th>                                
                                <th>เป้าหมาย</th>
                                <th>ปีงบ</th>
                                <th><i class="fa fa-clock-o"></i> เวลาจัดเก็บ</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</app-content>