<app-content>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">                
                <div class="tile-title-w-btn">
                    <h3 class="title">จัดเก็บ KPI Score</h3>
                    <div class="bs-component">
                        <div class="btn-group mr-1" dropdown>
                            <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-animated">
                              {{yearDopdown.id}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                                <li role="menuitem" *ngFor="let item of year">
                                  <a class="dropdown-item" (click)="kpiSearchYear(item)">{{item.year_id}}</a>
                                </li>                               
                            </ul>
                        </div>  
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-basic">
                                    {{depCareDopdown.text}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of depCare">
                                    <a class="dropdown-item" (click)="setDepcare(item)">{{item.name_th}}</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>                  
                </div>            
                <div class="tile-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>รหัส</th>                                                   
                                <th>ชื่อตัวชี้วัด</th>                                
                                <th>ผู้รับผิดชอบ</th>  
                                <th><i class="fa fa-clock-o"></i> เวลาจัดเก็บ</th> 
                                <th><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of kpiScore; index as i">
                                <td>{{item.idg_id}}{{item.idn_id}}</td>
                                <td>{{item.idn_name_th}}</td>
                                <td>{{item.depname_th}}</td>                                                     
                                <td>{{item.freqname_th}} <span [innerHTML]="item.total_keep | icon:item.frequency_id"></span></td>
                                <td>
                                    <i class="fa fa-line-chart text-success" (click)="openChartModal(chart_template, item)"></i> | 
                                    <i class="fa fa-save text-info" (click)="openModal(template, item)"></i> 
                                                                                                     
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</app-content>

<ng-template #template>
    <app-keep-score [modalRef]='modalRef' [itemsKpi]='itemsKpi' [year_id]='yearDopdown.id'></app-keep-score>
</ng-template>

<ng-template #chart_template>       
    <app-chart [modalRef]='modalRef' [itemsKpi]='itemsKpi'></app-chart>
</ng-template>