<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img
      class="app-sidebar__user-avatar"
      src="assets/img/kpi-icon.png"
      alt="User Image"
      width="40"
    />
    <div>
      <p class="app-sidebar__user-name">จตุรภัทร ศิริบูรณ์</p>
      <p class="app-sidebar__user-designation">Frontend Developer</p>
    </div>
  </div>
  <ul class="app-menu">
    <li>
      <a class="app-menu__item" routerLink="/dashboard" routerLinkActive="active"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">KPI Dashboard</span></a
      >
    </li>
    <li class="treeview" routerLinkActive="is-expanded">
      <a class="app-menu__item" href="javascript:;" data-toggle="treeview"
        ><i class="app-menu__icon fa fa-cogs"></i
        ><span class="app-menu__label">จัดการตัวชี้วัด</span><i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" [routerLink]="['/',AppUrl.Kpi, KpiUrl.Group]" routerLinkActive="active">
            <i class="icon fa fa-long-arrow-right"></i> หมวดตัวชี้วัด</a>
        </li> 
        <li>
          <a class="treeview-item" [routerLink]="['/',AppUrl.Kpi, KpiUrl.Type]" routerLinkActive="active">
            <i class="icon fa fa-long-arrow-right"></i> ประเภทตัวชี้วัด</a>
        </li> 
        <li>
          <a class="treeview-item" [routerLink]="['/',AppUrl.Kpi, KpiUrl.Name]" routerLinkActive="active">
            <i class="icon fa fa-long-arrow-right"></i> ชื่อตัวชี้วัด</a>
        </li>        
      </ul>
    </li> 
    <li class="treeview" routerLinkActive="is-expanded">
      <a class="app-menu__item" href="javascript:;" data-toggle="treeview">
        <i class="app-menu__icon fa fa-edit"></i>
        <span class="app-menu__label">ลงข้อมูล KPI</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">   
        <li>
          <a class="treeview-item" [routerLink]="['/',AppUrl.Kpi, KpiUrl.KpiTemplate]" routerLinkActive="active">
            <i class="icon fa fa-long-arrow-right "></i> เทมเพลต kpi</a>
        </li>
        <li>
          <a class="treeview-item" [routerLink]="['/',AppUrl.Kpi, KpiUrl.KpiStorage]" routerLinkActive="active">
            <i class="icon fa fa-long-arrow-right "></i> จัดเก็บ KPI</a>
        </li>     
        <li>
          <a class="treeview-item" [routerLink]="['/',AppUrl.Kpi, KpiUrl.DepCare]" routerLinkActive="active">
            <i class="icon fa fa-long-arrow-right "></i> หน่วยงานที่รับผิดชอบ</a>
        </li>
      </ul>
    </li>   
  </ul>
</aside>
