<app-content>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">ประเภทตัวชี้วัด</h3>
                <div class="tile-body">
                    <form action="">
                        <div class="form-group">
                            <label class="control-label">รหัส</label>
                            <input class="form-control" type="text" placeholder="CODE">
                        </div>
                        <div class="form-group">
                            <label class="control-label">ประเภทตัวชี้วัด (ภาษาไทย)</label>
                            <input class="form-control" type="text" placeholder="ภาษาไทย">
                        </div>
                        <div class="form-group">
                            <label class="control-label">ประเภทตัวชี้วัด (ภาษาอังกฤษ)</label>
                            <input class="form-control" type="text" placeholder="ภาษาอังกฤษ">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1">หมวดตัวชี้วัด</label>
                            <select class="form-control" id="exampleSelect1">
                                <option *ngFor="let item of groupItmes | keyvalue">{{item.key}}</option>                          
                            </select>
                        </div>                        
                    </form>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>บันทึก</button>
                            &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</app-content>