    <div class="bs-component">
      <div class="list-group">
        <div class="list-group-item list-group-item-action active">
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
          <h4 class="list-group-item-heading">
            จัดเก็บ KPI ปีงบประมาณ {{itemsKpi?.year_th}} ตัวชี้วัดราย {{itemsKpi?.freqname_th}}
          </h4>
          <p class="list-group-item-text">
            {{itemsKpi?.idg_id}}{{itemsKpi?.idn_id}} {{itemsKpi?.idn_name_th}}
          </p>          
        </div>
        <div class="list-group-item list-group-item-action">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>เดือน</th>
                <th>เป้าคะแนน</th>
                <th>คะแนน</th>
                <th>เงื่อนไข</th>
                <th><i class="fa fa-cogs"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemScore; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.kri_name_th}}</td>
                <td>{{item.target_score}}</td>
                <td [ngClass]='item.score >= item.target_score ? "text-primary" :"text-danger "'>
                  {{item.score}} <i [ngClass]='item.score >= item.target_score ? "fa fa-check" :"fa fa-exclamation-triangle"'></i>
                </td>
                <td>{{item.sym_name}}</td>
                <td>
                  <i class="fa fa-edit" (click)="onEdit(item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<br>
<div class="row">
  <div class="modal-body" #formscore>   
              <div class="col-md-12">
                <form (ngSubmit)="onSubmit()" [formGroup]="formG">
                    <!--  -->
                    <div class="col-md-4 col-lg-4">
                      <div class="form-group">                        
                            <div class="input-group">
                              <div class="input-group-prepend"><span class="input-group-text">เดือน</span></div>
                              <select #mySelect class="form-control" formControlName="kpi_range_item_id" (change)="onChange(mySelect.value)">
                                <option value="">---โปรดเลือก----</option>
                                <option [value]=item.id *ngFor="let item of itemRange">
                                  {{item.name_th}}
                                </option>
                              </select>                   
                            </div>
                      </div>                      
                    </div>    
                    
                    <!--  -->                                         
                    <div class="col-md-4 col-lg-4">
                      <div class="form-group">                          
                            <div class="input-group">
                              <div class="input-group-prepend"><span class="input-group-text">เป้าหมาย</span></div>
                              <input class="form-control" id="target_score" type="number" formControlName="target_score">
                            </div>
                      </div>
                    </div>
                    
                    <!--  -->                                         
                      <div class="col-md-4 col-lg-4">
                        <div class="form-group">                          
                              <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">คะแนน</span></div>
                                <input class="form-control" id="score" type="number" formControlName="score">
                              </div>
                        </div>
                      </div>

                      <!--  -->                                         
                      <div class="col-md-4 col-lg-4">
                        <div class="form-group">                          
                              <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">หน่วยนับ</span></div>                                
                                <select class="form-control" id="score_unit_id" formControlName="score_unit_id">
                                  <option value="">---โปรดเลือก----</option>
                                  <option *ngFor="let item of kpiUnit" [value]=item.unit_id>{{item.unit_name}}</option>                                  
                                </select>
                              </div>
                        </div>
                      </div>
                    
                    <!--  -->
                  <div class="col-md-4 col-lg-4">
                    <button class="btn btn-primary" [disabled]="!formG.valid" *ngIf="!formStatus">บันทึก</button>
                    <button class="btn btn-primary" [disabled]="!formG.valid" *ngIf="formStatus">แก้ไข</button>
                  </div>
                </form>
              </div>
            
                  <br>
      
    </div>
</div>
     
    
  